
body{
    background-color: rgb(117, 131, 131);
}
/* COntent */

.content{

    /* height: 300px; */
    background-color: aquamarine;
}

/* padding */

.padding{
    width: 300px;
    color: white;
}

.border{
    border:20px solid greenyellow;
    /* border-top: 15px  double dodgerblue;
    border-left: 5px dashed snow; */
    border-collapse: collapse;

    margin: 100px;
    
}

.margin{


    
}